html, body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom, #000000, #074b36);
    color: white;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%; 
    background-color: rgba(58, 63, 61, 0.3);
    height: 19em;
    width: 19em;
}

input{
    margin: 4%;
    padding: 4%;
}

button{
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 5%;
    cursor: pointer;
}

.botao1{
    background-color: #488f89;
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: 2%;
    width: 15em;
    cursor: pointer;
    
}

.divresultado{
    padding: 3%;
}

span {
    color: #488f89;
}

